@{
    ViewData["Title"] = "Home Page";
}

<form method="post"></form>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Show banks</h2>
    @Html.ActionLink("Show Banks", "Index", controllerName: "Bank");
</div>
