@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post"></form>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Create banks</h2>
    @Html.ActionLink("Create Bank", "Create", controllerName: "Bank");
</div>
