<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="http://twivatar.glitch.me/ashishvegaraju" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h4">Ashish Vegaraju</h1>
            <p>Senior engineer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li>@Html.ActionLink("  Home", actionName: "Index", controllerName: "Home", routeValues: new { }, htmlAttributes: new { @class = "icon-home" })</li>
        <li>
        @Html.ActionLink("  Banks", actionName: "Index", controllerName: "Bank", routeValues: new { }, htmlAttributes: new { @class = "icon-bill" })
        <li>
        <li>
        @Html.ActionLink("  Cards", actionName: "Index", controllerName: "Card", routeValues: new { }, htmlAttributes: new { @class = "icon-pencil-case" })
        <li>
    </ul>
</nav>